In [1]:
#importer les bibiliotheques
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import missingno as msno

In [2]:
jumia_clothes=pd.read_csv('Jumia_clothes.csv')

In [3]:
#afficher les cinq premieres lignes
jumia_clothes.head()

,id,name,brand,category,price$,boutique_officielle,price,gender,price_before,promotion,reviews,numberofReviewers,Livraison_gratuite,Date
0,GE232FA1FQVNSNAFAMZ,Hoodie/Capuchon Death Note Anime - Otaku,Generic,Fashion/Men's Fashion/Clothing/Fashion Hoodies...,6.04,No,64.60 Dhs,Homme,233.00 Dhs,72%,3.2 out of 5,(81),No,2022-03-25
1,GE232MW1JMM00NAFAMZ,Hoodie Manga Naruto Anime Itachi Uchiha Sweats...,Generic,Fashion/Men's Fashion/Clothing/Fashion Hoodies...,13.92,No,149.00 Dhs,Homme,192.00 Dhs,22%,4 out of 5,(11),No,2022-03-25
2,GE232MW011137NAFAMZ,Hoodie Manga Anime Naruto Shippuden Sweatshirt...,Generic,Fashion/Men's Fashion/Clothing/Fashion Hoodies...,20.46,No,219.00 Dhs,Homme,260.00 Dhs,16%,4.5 out of 5,(19),No,2022-03-25
3,GE232FA1MGS7TNAFAMZ,Hoodie / Capuchon noir avec motif de ATTACK ON...,Generic,Fashion/Men's Fashion/Clothing/Fashion Hoodies...,7.90,No,84.55 Dhs,Homme,399.00 Dhs,79%,3.4 out of 5,(35),No,2022-03-25
4,GE232MW0X9UR9NAFAMZ,Hoodie Manga Anime Naruto Shippuden Sweatshirt...,Generic,Fashion/Men's Fashion/Clothing/Fashion Hoodies...,13.92,No,149.00 Dhs,Homme,285.00 Dhs,48%,3.3 out of 5,(33),No,2022-03-25

In [4]:
jumia_clothes.columns

Index(['id', 'name', 'brand', 'category', 'price$', 'boutique_officielle',
       'price', 'gender', 'price_before', 'promotion', 'reviews',
       'numberofReviewers', 'Livraison_gratuite', 'Date'],
      dtype='object')

In [5]:
jumia_clothes.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45138 entries, 0 to 45137
Data columns (total 14 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   id                   45138 non-null  object
 1   name                 45138 non-null  object
 2   brand                45138 non-null  object
 3   category             45138 non-null  object
 4   price$               45138 non-null  float64
 5   boutique_officielle  45138 non-null  object
 6   price                45138 non-null  object
 7   gender               45138 non-null  object
 8   price_before         41738 non-null  object
 9   promotion            41738 non-null  object
 10  reviews              6630 non-null   object
 11  numberofReviewers    6630 non-null   object
 12  Livraison_gratuite   45138 non-null  object
 13  Date                 45138 non-null  object
dtypes: float64(1), object(13)
memory usage: 4.8+ MB

In [6]:
jumia_clothes.isna().sum()

id                         0
name                       0
brand                      0
category                   0
price$                     0
boutique_officielle        0
price                      0
gender                     0
price_before            3400
promotion               3400
reviews                38508
numberofReviewers      38508
Livraison_gratuite         0
Date                       0
dtype: int64

In [497]:
jumia_clothes.shape

(45138, 14)

it seems that there are some missing values in some features,let's see how to deal with each feature.

* price_before&promotion

In [9]:
jumia_clothes.dropna(subset=['price_before','promotion'],inplace=True)

In [10]:
jumia_clothes.isna().sum()

id                         0
name                       0
brand                      0
category                   0
price$                     0
boutique_officielle        0
price                      0
gender                     0
price_before               0
promotion                  0
reviews                36198
numberofReviewers      36198
Livraison_gratuite         0
Date                       0
dtype: int64

* reviews&numberofReviewers

In [11]:
jumia_clothes = jumia_clothes.fillna({'reviews':0,
                        'numberofReviewers':0})
is_rated = np.where(jumia_clothes['numberofReviewers'].isna() == True, 0, 1)
jumia_clothes['is_rated'] = is_rated

In [12]:
jumia_clothes.isna().sum()

id                     0
name                   0
brand                  0
category               0
price$                 0
boutique_officielle    0
price                  0
gender                 0
price_before           0
promotion              0
reviews                0
numberofReviewers      0
Livraison_gratuite     0
Date                   0
is_rated               0
dtype: int64

###### Now let's apply some feature transformations on each column

### Price&Price_before

In [13]:
jumia_clothes[['price','price_before']]

            price price_before
0       64.60 Dhs   233.00 Dhs
1      149.00 Dhs   192.00 Dhs
2      219.00 Dhs   260.00 Dhs
3       84.55 Dhs   399.00 Dhs
4      149.00 Dhs   285.00 Dhs
...           ...          ...
45127   84.00 Dhs   168.00 Dhs
45128  176.00 Dhs   352.00 Dhs
45129   89.00 Dhs   134.00 Dhs
45130  153.00 Dhs   306.00 Dhs
45131  153.00 Dhs   306.00 Dhs

[41738 rows x 2 columns]

In [14]:
jumia_clothes['price']=jumia_clothes['price'].str.replace(',','')
jumia_clothes['price_before']=jumia_clothes['price_before'].str.replace(',','')

In [15]:
jumia_clothes['price_before'] = jumia_clothes['price_before'].apply(lambda x: (float(x.split(' ')[0])+float(x.split(' ')[3]))/2 if '-' in x else x)
jumia_clothes['price'] = jumia_clothes['price'].apply(lambda x: x.split(' ')[3] if '-' in x else x)

In [16]:
jumia_clothes['price']=jumia_clothes['price'].str.strip('Dhs')
jumia_clothes['price_before']=jumia_clothes['price_before'].str.strip('Dhs')

In [17]:
jumia_clothes['price']=jumia_clothes['price'].astype(float)
jumia_clothes['price_before']=jumia_clothes['price_before'].astype(float)

In [18]:
jumia_clothes[['price','price_before']].dtypes

price           float64
price_before    float64
dtype: object

In [19]:
jumia_clothes[['price','price_before']]

        price  price_before
0       64.60         233.0
1      149.00         192.0
2      219.00         260.0
3       84.55         399.0
4      149.00         285.0
...       ...           ...
45127   84.00         168.0
45128  176.00         352.0
45129   89.00         134.0
45130  153.00         306.0
45131  153.00         306.0

[41738 rows x 2 columns]

### Promotion

In [20]:
jumia_clothes['promotion']=jumia_clothes['promotion'].str.strip('%').astype(int)

In [21]:
jumia_clothes['promotion']

0        72
1        22
2        16
3        79
4        48
         ..
45127    50
45128    50
45129    34
45130    50
45131    50
Name: promotion, Length: 41738, dtype: int32

In [22]:
jumia_clothes.head()

,id,name,brand,category,price$,boutique_officielle,price,gender,price_before,promotion,reviews,numberofReviewers,Livraison_gratuite,Date,is_rated
0,GE232FA1FQVNSNAFAMZ,Hoodie/Capuchon Death Note Anime - Otaku,Generic,Fashion/Men's Fashion/Clothing/Fashion Hoodies...,6.04,No,64.60,Homme,233.0,72,3.2 out of 5,(81),No,2022-03-25,1
1,GE232MW1JMM00NAFAMZ,Hoodie Manga Naruto Anime Itachi Uchiha Sweats...,Generic,Fashion/Men's Fashion/Clothing/Fashion Hoodies...,13.92,No,149.00,Homme,192.0,22,4 out of 5,(11),No,2022-03-25,1
2,GE232MW011137NAFAMZ,Hoodie Manga Anime Naruto Shippuden Sweatshirt...,Generic,Fashion/Men's Fashion/Clothing/Fashion Hoodies...,20.46,No,219.00,Homme,260.0,16,4.5 out of 5,(19),No,2022-03-25,1
3,GE232FA1MGS7TNAFAMZ,Hoodie / Capuchon noir avec motif de ATTACK ON...,Generic,Fashion/Men's Fashion/Clothing/Fashion Hoodies...,7.90,No,84.55,Homme,399.0,79,3.4 out of 5,(35),No,2022-03-25,1
4,GE232MW0X9UR9NAFAMZ,Hoodie Manga Anime Naruto Shippuden Sweatshirt...,Generic,Fashion/Men's Fashion/Clothing/Fashion Hoodies...,13.92,No,149.00,Homme,285.0,48,3.3 out of 5,(33),No,2022-03-25,1

### Reviews

In [23]:
jumia_clothes['reviews']=jumia_clothes['reviews'].apply(lambda x:x.split(' ')[0] if x!=0 else x)

In [24]:
jumia_clothes['reviews'].astype('float')

0        3.2
1        4.0
2        4.5
3        3.4
4        3.3
        ...
45127    0.0
45128    0.0
45129    0.0
45130    0.0
45131    0.0
Name: reviews, Length: 41738, dtype: float64

### numberofReviewers

In [25]:
jumia_clothes['numberofReviewers']=jumia_clothes['numberofReviewers'].apply(lambda x:x.strip('()') if x!=0 else x)

In [26]:
jumia_clothes['numberofReviewers']

0        81
1        11
2        19
3        35
4        33
         ..
45127     0
45128     0
45129     0
45130     0
45131     0
Name: numberofReviewers, Length: 41738, dtype: object

### Category

In [28]:
jumia_clothes.category.value_counts()

Fashion/Men's Fashion/Clothing/T-Shirts & Tanks/T-shirts                                                         2779
Fashion/Men's Fashion/Clothing/Fashion Hoodies & Sweatshirts/Fashion Hoodies                                     1946
Fashion/Men's Fashion/Clothing/Shirts/Dress Shirts                                                               1941
Fashion/Men's Fashion/Clothing/Jackets & Coats/Lightweight Jackets                                               1891
Fashion/Men's Fashion/Clothing/Suits & Sport Coats/Suits                                                         1690
                                                                                                                 ...
Fashion/Women's Fashion/Clothing/Tops & Tees/Polos                                                                  1
Fashion/Men's Fashion/Accessories                                                                                   1
Fashion/Women's Fashion/Clothing/Lingerie, Sleep & Lounge/Lingerie/Bras/Nursing & Maternity Bras/Nursing Bras       1
Fashion/Women's Fashion/Clothing/Lingerie, Sleep & Lounge/Lingerie/Slips/Full Slips                                 1
Fashion/Men's Fashion/Clothing/Shirts/Tank Tops                                                                     1
Name: category, Length: 205, dtype: int64

In [29]:
jumia_clothes['Type']=jumia_clothes['category'].str.strip('Fashion/').str.split('/',expand=True)[1]
jumia_clothes['category']=jumia_clothes['category'].str.strip('Fashion/').str.split('/',expand=True)[2]

In [30]:
jumia_clothes.head()

,id,name,brand,category,price$,boutique_officielle,price,gender,price_before,promotion,reviews,numberofReviewers,Livraison_gratuite,Date,is_rated,Type
0,GE232FA1FQVNSNAFAMZ,Hoodie/Capuchon Death Note Anime - Otaku,Generic,Fashion Hoodies & Sweatshirts,6.04,No,64.60,Homme,233.0,72,3.2,81,No,2022-03-25,1,Clothing
1,GE232MW1JMM00NAFAMZ,Hoodie Manga Naruto Anime Itachi Uchiha Sweats...,Generic,Fashion Hoodies & Sweatshirts,13.92,No,149.00,Homme,192.0,22,4,11,No,2022-03-25,1,Clothing
2,GE232MW011137NAFAMZ,Hoodie Manga Anime Naruto Shippuden Sweatshirt...,Generic,Fashion Hoodies & Sweatshirts,20.46,No,219.00,Homme,260.0,16,4.5,19,No,2022-03-25,1,Clothing
3,GE232FA1MGS7TNAFAMZ,Hoodie / Capuchon noir avec motif de ATTACK ON...,Generic,Fashion Hoodies & Sweatshirts,7.90,No,84.55,Homme,399.0,79,3.4,35,No,2022-03-25,1,Clothing
4,GE232MW0X9UR9NAFAMZ,Hoodie Manga Anime Naruto Shippuden Sweatshirt...,Generic,Fashion Hoodies & Sweatshirts,13.92,No,149.00,Homme,285.0,48,3.3,33,No,2022-03-25,1,Clothing

In [31]:
jumia_clothes = jumia_clothes[jumia_clothes['Type']=='Clothing']

In [32]:
jumia_clothes.head()

,id,name,brand,category,price$,boutique_officielle,price,gender,price_before,promotion,reviews,numberofReviewers,Livraison_gratuite,Date,is_rated,Type
0,GE232FA1FQVNSNAFAMZ,Hoodie/Capuchon Death Note Anime - Otaku,Generic,Fashion Hoodies & Sweatshirts,6.04,No,64.60,Homme,233.0,72,3.2,81,No,2022-03-25,1,Clothing
1,GE232MW1JMM00NAFAMZ,Hoodie Manga Naruto Anime Itachi Uchiha Sweats...,Generic,Fashion Hoodies & Sweatshirts,13.92,No,149.00,Homme,192.0,22,4,11,No,2022-03-25,1,Clothing
2,GE232MW011137NAFAMZ,Hoodie Manga Anime Naruto Shippuden Sweatshirt...,Generic,Fashion Hoodies & Sweatshirts,20.46,No,219.00,Homme,260.0,16,4.5,19,No,2022-03-25,1,Clothing
3,GE232FA1MGS7TNAFAMZ,Hoodie / Capuchon noir avec motif de ATTACK ON...,Generic,Fashion Hoodies & Sweatshirts,7.90,No,84.55,Homme,399.0,79,3.4,35,No,2022-03-25,1,Clothing
4,GE232MW0X9UR9NAFAMZ,Hoodie Manga Anime Naruto Shippuden Sweatshirt...,Generic,Fashion Hoodies & Sweatshirts,13.92,No,149.00,Homme,285.0,48,3.3,33,No,2022-03-25,1,Clothing

In [33]:
jumia_clothes.shape

(41703, 16)

In [34]:
jumia_clothes['brand'].unique()

array(['Generic', 'Layssi', 'massinissa', 'TCML', 'Autre', 'Other',
       'Biendell', 'VEADA', 'Koton', 'Sportlife', 'Artshirting', 'Amo',
       'Mercedes', 'Bts Hoodies', 'Mode', 'Audi', 'Original Design',
       'Myprotein', 'Fashion', 'Volkswagen', 'AZRAIDA SPORT', 'Macron',
       'Incerun', 'Lc Waikiki', 'Adidas', 'Original', 'Quechua', 'Dice',
       'Le Coq Sportif', 'Hollister', 'Produit Du Maroc', 'Ageneral',
       'Diadora', 'Spinel', 'Puma', 'Jack & Jones', 'Penfield', 'Mitre',
       'Caperlan', 'Trendyol Collection', 'Pull & Bear', 'Farah',
       'Gstar Kids', 'Youta', 'Universal', 'Domyos', 'Timberland',
       'Celopman', 'Viccini', 'Lorenzo Vittori', 'Celio', 'SHEIN',
       'Jabador Maroc', 'Defacto', 'Gant', 'Reebok', 'Nike',
       'Tommy Hilfiger', 'At Store', 'Geographical Norway', 'Decathlon',
       'Livergy', 'MANISE', 'Batman', 'Mizuno', 'Luxe market', 'Weekwiki',
       'Tshirt', 'Compressport', 'Umbro', 'Joma', 'Mckenzie', 'Converse',
       'Coton', 'TAKKAD', 'Oscar', "Marc O' Polo", 'Lotto', 'Brave Soul',
       'Tarz', 'Infini', 'Kalenji', 'State Of Art', 'Generic Xim',
       'Fbird', 'Collumn', 'Ov', 'Fbaire', "Kiree's", 'Arsuxeo',
       'Fondital', 'Forma Care', 'Hypnos', 'Mara Sho', 'Pyjamas',
       'Sofiaman', 'Tex', 'Imaj', 'ALAN BROWN', 'Artengo', 'Leader', 'Kr',
       'Kipsta', 'MEYRELI', 'KAYTAN', 'Shakespeare', 'Mi', 'Genera',
       'OZYL', 'Inesis', 'John H', 'Dressfo', 'New Designes', 'AGENERALE',
       'Oem', 'Olaian', 'Espiro', "Partner's", 'Lee Cooper',
       'As Seen On Tv', "WED'ZE", 'Nb', 'FUTUR CHAMP', 'Watsons',
       'UrbanSox', 'Some Things', 'YC', 'MHD Tatawi', 'Footjoy Ft',
       'Tofisa by Modanisa', 'Camellia', 'BIRDIES', 'Zenane by Modanisa',
       'Benin By Modanisa', 'Tavin By Modanisa', 'Refka By Modanisa',
       'ADDAX Fashion', 'Zanzea', 'Por La Cara by Modanisa', 'Bob Style',
       'Neways by Modanisa', 'Tropical mango', 'Alia By Modanisa',
       'Selma Sari Design by Modanisa', 'Esmara', 'Ecesun by Modanisa',
       'Yatta', 'Kata', 'Romwe', 'Celmia', 'laurie & yara', 'Aomei',
       'Vonda', 'Tchibo', 'MJ', 'Chym-Couture', 'Gratful', 'New Balance',
       'Roxy', 'George', 'Camaieu', 'Elpablo', 'Marwa',
       'Miss Cazibe by Modanisa', 'Burun by Modanisa',
       'Piennar by Modanisa', 'Evet', 'Phull by Modanisa', 'Pim Kie',
       'Mixfeer', 'Urban', 'Douce lingerie', 'AKBENiZ by Modanisa',
       'Sveltesse', 'Hummel', 'Kim', 'Etam', 'Rijona', 'Ny', 'MaBella',
       'sexy diva', 'Miss Rose', 'SEXY', 'SmartSexy', 'Shock Absorber',
       'Fawn by Modanisa', 'Distrione', 'Doremi', 'Flora', 'Nbb',
       'Penye Mood', "Slim 'N Lift", 'Berlei', 'Hana', 'Turkey', 'Divers',
       'Olo', 'Sandy', 'General', 'Lingeries', 'Heat', 'Damart',
       'SO CHIC', 'Miss Belt', 'Dika', 'Camilla', 'WEIXINBUY',
       'Women Secret', 'Primark', 'VarsBaby', 'Alfasa by Modanisa',
       'Mayo Bella by Modanisa', 'Femme', 'Marina Mayo by Modanisa',
       'Emayo by Modanisa', 'Ecardin by Modanisa',
       'Remsa Mayo by Modanisa', 'Riva Mera by Modanisa', 'Ikea',
       'Adasea by Modanisa', 'Sunmore by Modanisa', 'Gemo',
       'AISE TESETTUR by Modanisa', 'Gypsy', 'Everyday basic By Modanisa',
       'Tesmay by Modanisa', 'Seamay by Modanisa', 'Ranuna by Modanisa',
       'Lingerie Land', 'As Fashion', 'Françoise Saget',
       'AYSE MELEK TASARIM by Modanisa', 'M &J', 'Jennyfer',
       'Camelya fashion', 'SBC', 'ZAR', 'Eva', 'Orga Cuir', 'Kokobuy',
       'Refka Outlet by Modanisa', 'Missvalle', 'FD SPORTS by Modanisa',
       'Saye Modest by Modanisa', "Jus D'Orange", 'Puane by Modanisa',
       'Women Only', 'OLEBYKOTON', 'Jo. Charline', 'Pilise',
       'Christine LAURE', 'Promod', 'None', 'BA Basic', 'Modanisa',
       'Dubai Abaya', 'ALVINA', 'Slim Body'], dtype=object)

In [39]:
jumia_clothes.dropna(subset=['price_before'],inplace=True)

In [40]:
jumia_clothes.isna().sum()

id                     0
name                   0
brand                  0
category               0
price$                 0
boutique_officielle    0
price                  0
gender                 0
price_before           0
promotion              0
reviews                0
numberofReviewers      0
Livraison_gratuite     0
Date                   0
is_rated               0
Type                   0
dtype: int64